@import "tailwindcss";

:root {
  --background: #000000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-pretendard);
}

html,
body {
  background: var(--background);
  color: white;
  font-family: var(--font-sans);
}
