@import "tailwindcss";

:root {
  --background: #060607;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-pretendard);
  --font-arial: var(--font-arial);
}

html,
body {
  background: var(--background);
  color: white;
  font-family: var(--font-sans);
}
